<h1>Dear <%= @name %></h1>

<p>
  Thanks for your interest in my profile. I hope this message finds you well.
</p>
<p>
  I wanted to take a moment to express my sincere gratitude for reaching out to me and showing interest in my profile. It means a lot to me that you have taken the time to consider my qualifications.
</p>

<p>
  For your information, You can find my CV and other information in the website: <a href="https://tcyrus.dev/">https://tcyrus.dev/</a>.
</p>

<p>
  I am excited about the opportunity. I will response for your email shortly. I look forward to the possibility of further discussions and collaboration.
</p>
<p>
  Once again, thank you for contacting me, and please don't hesitate to get in touch if you need anything else or wish to discuss this further.
</p>
<p> Warm regards,</p>

<p><strong>Tien Dau</strong></p>
<p> <a href="https://tcyrus.dev/">https://tcyrus.dev/</a> | <a href="tel:+61499380358">+61499380358</a> | <a href="mailto:tiendt2311@gmail.com">tiendt2311@gmail.com</a></p>
