<div style="text-align: center; margin-top: 30px">
  <%= link_to 'Refresh', items_refresh_path, data: { "turbo-method": :put }, style: 'font-weight: bold; font-size: 24px; border: 1px gray solid; border-radius: 5px; padding: 10px; text-decoration: none; margin-right: 20px' %>
</div>
<h3 style="text-align: center; margin-top: 30px">
  Last updated at:
  <%= @last_updated_at&.strftime('%d %B %Y at %I:%M%p') %>
</h3>
<turbo-frame id="<%= params.fetch(:turbo_frame, "items") %>" target="_top">
  <%= render @items %>
</turbo-frame>
